@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .con-lg-1 {
    width: 20%;
    padding: 15px;
  }
  .con-lg-2 {
    width: 40%;
    padding: 15px;
  }
  .con-lg-3 {
    width: 60%;
    padding: 15px;
  }
  .con-lg-4 {
    width: 80%;
    padding: 15px;
  }
  .con-lg-5 {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .container {
    width: 992px;
  }
  .con-xs-1 {
    width: 16.66667%;
    padding: 15px;
  }
  .con-xs-2 {
    width: 33.33333%;
    padding: 15px;
  }
  .con-xs-3 {
    width: 50%;
    padding: 15px;
  }
  .con-xs-4 {
    width: 66.66667%;
    padding: 15px;
  }
  .con-xs-5 {
    width: 83.33333%;
    padding: 15px;
  }
  .con-xs-6 {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .con-sm-1 {
    width: 50%;
    padding: 15px;
  }
  .con-sm-2 {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }
  .con-md-1 {
    width: 11.11111%;
    padding: 15px;
  }
  .con-md-2 {
    width: 22.22222%;
    padding: 15px;
  }
  .con-md-3 {
    width: 33.33333%;
    padding: 15px;
  }
  .con-md-4 {
    width: 44.44444%;
    padding: 15px;
  }
  .con-md-5 {
    width: 55.55556%;
    padding: 15px;
  }
  .con-md-6 {
    width: 66.66667%;
    padding: 15px;
  }
  .con-md-7 {
    width: 77.77778%;
    padding: 15px;
  }
  .con-md-8 {
    width: 88.88889%;
    padding: 15px;
  }
  .con-md-9 {
    width: 100%;
    padding: 15px;
  }
}
